# PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# JWT Secret
JWT_SECRET="your-super-secret-and-long-jwt-key"

# LiveKit API
LIVEKIT_URL="http://localhost:7880"
LIVEKIT_API_KEY="devkey"
LIVEKIT_API_SECRET="secret"

# Client URL for CORS
SOCKETIO_CORS_ORIGIN="http://localhost:3000" 