@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap&subset=latin,cyrillic');

body {
  margin: 0;
  font-family: 'Jura', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Show context-menu cursor over elements that open on right-click */
.allow-context,
.allow-context * {
  cursor: pointer;
}
