/* 🎬 Modern VideoJS Theme - Dark & Sleek */

/* Main player container */
.video-js {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Control bar styling */
.video-js .vjs-control-bar {
    background: linear-gradient(0deg, #000 0, rgba(0, 0, 0, .5) 60%, transparent);
    height: 5em;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

/* Buttons */

.video-js .vjs-button {
    color: #ffffff;
    border-radius: 6px;
    height: 2.5em;
    font-size: 1.5em;
    width: 2.5em;
}

.video-js .vjs-button:hover {
    background: rgba(88, 88, 88, 0.5);
}


.vjs-button>.vjs-icon-placeholder:before {
    font-size: 1.7em;
    line-height: 1.5;
    transition: all 0.3s ease;

}


/* Volume control */
.video-js .vjs-volume-panel {
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 100%;
    transition: all 0.3s ease;

}

/* Custom chat button */
.video-js .vjs-chat-toggle-control .vjs-chat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    cursor: pointer;
}

.video-js .vjs-chat-toggle-control .vjs-chat-icon svg {
    width: 1em;
    height: 1em;
}

/* Hide chat toggle button when player is not in fullscreen */
.video-js:not(.vjs-fullscreen) .vjs-chat-toggle-control {
    display: none;
}
